* {cursor: none;}

#statusPause {
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 5px;
  color: #fff;
  text-shadow: 0 0 5px #000;
  padding: 0 5px 0 8px;
  margin: 5px;
  background: rgba(255,255,255,0.3);
  border-radius: 3px;
}

.hide {
  display: none!important;
}