* { cursor: none; }

body {
  background: #000 no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;      
}

ul {
  margin: 0;
  padding: 0;
}

#statusPause {
  position: absolute;
  z-index: 100;
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 5px;
  color: #fff;
  text-shadow: 0 0 5px #000;
  padding: 0 5px 0 8px;
  margin: 5px;
  background: rgba(255,255,255,0.3);
  border-radius: 3px;
}

.hide {
  display: none!important;
}

#debug {
  position: absolute;
  top: 0;
  z-index: 9999;
}

.photo {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}

.visible {
  opacity: 1;
}

.visible.current {
  z-index: 2;
}

.visible.back {
  z-index: 1;
}
